<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
This is the Contact page with lots of useful contact us. Give us a phone call, come around to our offices, fax us a dick pick, do what you like.
</p>